
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1481626523546'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1481626523546#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1481626523546') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1481626523546') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1481626523546#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before { content: "\e64b"; }

.icon-fanhui:before { content: "\e774"; }

.icon-aixin:before { content: "\e641"; }

.icon-fenxiang:before { content: "\e62d"; }

.icon-password:before { content: "\e603"; }

.icon-iconfont:before { content: "\e640"; }

.icon-icon-copy:before { content: "\e600"; }

.icon-wode:before { content: "\e61b"; }

.icon-xiangji:before { content: "\e6fd"; }

.icon-liuyan:before { content: "\e64f"; }

.icon-gouwuzhuanhuan:before { content: "\e629"; }

.icon-zhuye:before { content: "\e601"; }

.icon-paixingbang1:before { content: "\e74d"; }

.icon-gouwudai:before { content: "\e605"; }

