

html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
img,ul,li,p{
    padding: 0;
    margin: 0;
}
.swiper-container{
    width: 100%;
    height: 100%;
}
.home{
    width: 100%;
    height: auto;
    background: #fff;
    padding-bottom: 0.8rem;
}
header{
    width: 100%;
    height: 0.9rem;
}

#header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 0;
}
#footer {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.8rem;
    padding: 0;
    border-top: 1px solid #444;
}

#wrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: 0;
    width: 100%;
    overflow: hidden;
    background: #f5f5f5;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
.header{
    width: 100%;
    height: 0.9rem;
    background: #F8F8F8;
    display: flex;
    justify-content: space-around;
    z-index: 999;
}
a{
    display: none;
    text-decoration: none;
    color: #4E4E4E;
}
.header a{
    display: block;
    font-size: 0.3rem;
    line-height: 0.9rem;
}
.header a:nth-child(2){
    margin-left: 1rem;
    color:#F67E98;
    border-bottom: 2px solid #F67E98;
}
.header a:nth-child(4){
    margin-right: 1rem;
}

/*banner*/
.banner{
    width: 100%;
    height: 4rem;
}
.swiper-pagination{
    position: absolute;
    bottom:0rem;
    left: 0;
    right: 0;
    margin: auto;
}
.swiper-pagination span{
    margin-right: 0.1rem;
}
 .banner .swiper-slide a{
     display: block;
    width: 100%;
    height: 100%;
}
.banner .swiper-slide a img{
    display: block;
    width: 100%;
    height: 100%;
}
/*meila*/
.mei{
    width: 100%;
    overflow: hidden;
}
.meila{
    box-sizing: border-box;
    width: 100%;
    heigth:0.6rem;
    text-align: center;
    line-height:0.8rem;
    color: #454545;
    font-size: 0.3rem;

}
.meila span{
    color: #B4B4B4;
}
#swiper-container1 .swiper-slide{
    width: 2.8rem;
    height:2.8rem;
    margin: 0.2rem 0 0;
    margin-left: 0.1rem;
}
.imgbox a{
    display: block;
    width: 2.8rem;
    height:2.8rem;
    /*margin: 0.2rem 0 0;*/
    margin-left: 0.1rem;
    z-index: 200;
}
.imgbox a img{
    width: 100%;
    height: 100%;
}
/*关注*/
.guanzhu{
    width: 100%;
    height: auto;
    padding-top: 0.2rem;
}
.guanzhu .title{
    width: 100%;
    height: 0.6rem;
    display: flex;
}
.photo{
    width: 0.5rem;
    height: 0.5rem;
    line-height: 0.6rem;
    border-radius: 50%;
    background: url(../img/ren.jpg);
    background-size: 100% 100%;
    margin-left: 0.2rem;
    margin-top: 0.1rem;
}
.title div:nth-child(2){
    font-size: 0.20rem;
    line-height: 0.7rem;
    color: #454545;
    margin-left: 0.1rem;
}
.title a:nth-child(3){
    margin-top: 0.2rem;
    display: block;
    font-size: 0.18rem;
    width: 1.5rem;
    height: 0.4rem;
    text-align: center;
    line-height: 0.4rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-left: 4.3rem;
}
.img{
    margin-top: 0.2rem;
}
.img img{
    width: 100%;
    height: 100%;
}
.jieshao{
    width: 100%;
    height: auto;
}
.jieshao a{
    display: block;
    width: 100%;
    font-size: 0.2rem;
    line-height: 0.4rem;
}
p{
    list-style: none;
    margin: 0;
    padding: 0;
}
.jieshao p{
    width: 100%;
    font-size: 0.2rem;
    line-height: 0.5rem;
}
.zan{
    width: 100%;
    height: 0.6rem;
    display: flex;
    justify-content: flex-end;
}
.zan a{
    display: block;
    font-size: 0.3rem;
    line-height: 0.6rem;
    margin-right: 0.4rem;
}
.zan a span{
    display:inline-block;
    width: 0.3rem;
    height:0.3rem;
}
.hui{
    width: 100%;
    height: 0.2rem;
    background: #e1e1e1;
}
#footer{
    width: 100%;
    height: 0.8rem;
    position: fixed;
    left:0;
    bottom:0;
    z-index: 999;
    background: #fff;
    border-top:1px solid #e1e1e1;
    display: flex;
    justify-content: space-around;
}
#footer a{
    display: block;
    text-align: center;
    line-height: 0.4rem;
}
#footer a span{
    display: block;
    font-size: 0.3rem;
}
#footer a:nth-child(1){
    color:#F54C72;
}





