html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.login{
    width: 100%;
    height: 100%;
    background: #fff;
}
header{
    width: 100%;
    height: 0.58rem;
}
header .head{
    width:100%;
    height:0.58rem ;
    background:#F74970;
    display:-webkit-box;
    display: flex;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
}
header .head span{
    line-height: 0.6rem;
    font-size: 0.3rem;
    color: #fff;
    margin-left: 0.4rem;
}
header .head a{
    line-height: 0.6rem;
    font-size: 0.3rem;
    color: #fff;
    margin-left: 0.2rem;
}

.con{
    width: 100%;
    height: auto;
    background: #fff;
    padding:0 0.2rem;
    position: relative;
}
.photo{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 2rem auto;
    background: url(../img/icon.png) no-repeat;
    background-size: 100% 100%;
}
.denglu{
    width: 6.7rem;
    height: auto;
    position: absolute;
    margin-top: 5.5rem;
}
.user,.pass{
    width: 6.7rem;
    height: 0.4rem;
    padding: 0.2rem;
    display: flex;
    border: 1px solid #e1e1e1;
}
.user span,.pass span {
    width: 0.36rem;
    height: 0.36rem;
    font-size: 0.36rem;
}
.user input, .pass input{
   border: none ;
   margin-left: 0.2rem;
    width: 6.1rem;
    outline: none;
    font-size: 0.3rem;
}
.pass{
margin-top: 0.3rem;
}
.log{
    width: 100%;
    height: 0.4rem;
    padding: 0.2rem;
    margin-top: 0.7rem;
    background: #F84970;
    border-radius: 0.4rem;
    border: 1px solid #e1e1e1;
    font-size: 0.3rem;
    color: #fff;
    text-align: center;
}
.tiaozhuan{
    width:7rem;
    height: 0.47rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left:0;
    top:4.5rem;
    font-size: 0.3rem;
}
.tiaozhuan span{
    color: #333;
}
a{
    text-decoration: none;
}
.tiaozhuan a{
    color: #ea413c;
}
input{
    color: #ccc;
}